:root {
    --bg-color: #ECEDEF;
    --inverted-bg-color: #ffffff;
    --primary-color: #090949;
    --secondary-color: #0449e0;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;
}
